{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}{{company_profile_context.company_alias}} | Tentang Kami{% endblock %}
{% block meta_desc %}{{global_seo_context.tentang_meta_desc}}{% endblock %}
{% block meta_key %}{{global_seo_context.tentang_meta_key}}{% endblock %}

{% block content %}
  <!-- About Section Begin -->
  <section class="about-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-text">
            <div class="at-title">
              <h3>{{ about.main_text }}</h3>
              <p>{{ about.small_text }}</p>
            </div>
            <div class="at-feature">
              <div class="af-item">
                <div class="af-icon">
                  <img src="{{ about.text_icon_35x35_1_processed.url }}" alt="" />
                </div>
                <div class="af-text">
                  <h6>{{ about.text_1 }}</h6>
                  <p>{{ about.text_small_1 }}</p>
                </div>
              </div>
              <div class="af-item">
                <div class="af-icon">
                  <img src="{{ about.text_icon_35x35_2_processed.url }}" alt="" />
                </div>
                <div class="af-text">
                  <h6>{{ about.text_2 }}</h6>
                  <p>{{ about.text_small_2 }}</p>
                </div>
              </div>
              <div class="af-item">
                <div class="af-icon">
                  <img src="{{ about.text_icon_35x35_3_processed.url }}" alt="" />
                </div>
                <div class="af-text">
                  <h6>{{ about.text_3 }}</h6>
                  <p>{{ about.text_small_3 }}</p>
                </div>
              </div>
              <div class="af-item">
                <div class="af-icon">
                  <img src="{{ about.text_icon_35x35_4_processed.url }}" alt="" />
                </div>
                <div class="af-text">
                  <h6>{{ about.text_4 }}</h6>
                  <p>{{ about.text_small_4 }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-pic set-bg" data-setbg="{{ about.video_background_555x423_processed.url }}">
            <a href="{{ about.video_url }}" class="play-btn video-popup"><i class="fa fa-play-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->
   
  <!-- Team Section Begin -->
  <section class="team-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="section-title">
            <h4>Eveza Tim Support</h4>
          </div>
        </div>
      </div>
      <div class="row">
        {% for team_support in team_supports %}
          <div class="col-md-4">
            <div class="ts-item">
              <div class="ts-text">
                <img src="{{ team_support.tim_support_190x190.url }}" alt="" />
                <h5>{{ team_support.tim_support_name }}</h5>
                <a href="{{ team_support.tim_support_link }}"><span>{{ team_support.tim_support_wa }}</span></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Team Section End -->
  <!-- Testimonial Section Begin -->
  <section class="testimonial-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h4>Pendapat Klien Kami</h4>
          </div>
        </div>
      </div>
      <div class="row testimonial-slider owl-carousel">
        {% for testimonial in testimonials %}
          <div class="col-lg-6">
            <div class="testimonial-item">
              <div class="ti-text">
                <p>{{ testimonial.client_description }}</p>
              </div>
              <div class="ti-author">
                <div class="ta-pic">
                  <img src="{{ testimonial.client_image_100x100_processed.url }}" alt="{{ testimonial.client_name }}" />
                </div>
                <div class="ta-text">
                  <h5>{{ testimonial.client_name }}</h5>
                  <span>{{ testimonial.client_role }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Testimonial Section End -->
{% endblock %}
