<!-- Contact Section Begin -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info">
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Alamat</h5>
                            <p>{{ social_context.alamat }}</p>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Telepon</h5>
                            <p>
                                {{ social_context.telepon }}
                            </p>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-whatsapp"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Whatsapp</h5>
                            <p>
                                {{ social_context.whatsapp }}
                            </p>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Email</h5>
                            <p>{{ social_context.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cs-map">
        {{ social_context.embed_map|safe }}
        {% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d610.1455495555232!2d106.74955822557773!3d-6.142179008817671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f7cb6ee8e841%3A0x5cec0bada634f731!2sMie%20Ayam%20Mbok%20Wien!5e1!3m2!1sen!2sid!4v1746626606889!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> {% endcomment %}
    </div>
</section>
<!-- Contact Section End -->
