{% extends 'layouts/main.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailembeds_tags %}

{% block title %}{{company_profile_context.company_alias}} | {{ product.title }}{% endblock %}

{% block meta_desc %}{{product.meta_desc}}{% endblock %}
{% block meta_key %}{{product.meta_key}}{% endblock %}



{% block content %}

  <!-- Property Details Section Begin -->

  <section class="property-details-section">
    <div class="property-pic-slider owl-carousel">
      {% for image in images %}
      <div class="ps-item">
        <div class="row">
          <div class="col-lg-12 p-0">
            <div class="ps-item-inner large-item set-bg" data-setbg="{{ image.image_320x240_processed.url }}"></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="pd-text">
            <div class="row">
              <div class="col-lg-12">
              <div class="pd-title">
                  <h3>{{ product.title }}</h3>
                  <div class="bc-tags">
                    <a href="{% url 'product:product_index' %}">{{ product.product_category.name}}</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="pd-board">
              <div class="tab-board">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Spesifikasi</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Deskripsi</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="tab-details">
                      <ul class="left-table">
                        {% for spec in specifications %}
                        <li>
                          <span class="type-name">{{ spec.key }}</span>
                          <span class="type-value">{{ spec.value }}</span>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div class="tab-desc">
                      <p>
                        {{ product.description }}
                      </p>  
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pd-widget">
              {{product.content|richtext}}
              
            </div>
            <a class="site-btn">Hubungi Kami</a>

            <!-- Contact Form Section Begin -->
            <section class="team-section spad">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    {% include 'components/contact_form.html' %}
                  </div>
                </div>
              </div>
            </section>
            <!-- Contact Form Section End -->
          </div>
        </div>
        <div class="col-lg-4 mt-5">
          <div class="property-sidebar">
            <div class="single-sidebar">
              <div class="section-title sidebar-title">
                <h5>Produk Serupa</h5>
              </div>
              <div class="top-agent">
                {% for related_product in related_products %}
                <div class="ta-item">
                  <div class="ta-pic set-bg" data-setbg="{{ related_product.image_320x240_processed.url }}"></div>
                  <div class="ta-text">
                    <h6><a href="{% url 'product:product_detail' product_slug=related_product.slug %}">{{ related_product.title }}</a></h6>
                    <div class="ta-num">{{ related_product.product_category.name }}</div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Property Details Section End -->
{% endblock %}
