{% extends "layouts/main.html" %}
{% load static %}

{% block title %}{{company_profile_context.company_alias}} | Produk{% endblock %}
{% block meta_desc %}{{global_seo_context.produk_meta_desc}}{% endblock %}
{% block meta_key %}{{global_seo_context.produk_meta_key}}{% endblock %}


{% block content %}
    <!-- Search Section Begin -->
    <section class="search-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-title">
                        <h4>List Produk</h4>
                    </div>
                </div>
            </div>
            <div class="search-form-content">
                <form method="GET" class="filter-form">
                    <select class="sm-width" name="category">
                        <option value="">Semua Kategori</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if selected_category == category.id|stringformat:"s" %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="text" name="search" id="sm-width" placeholder="Nama Produk" value="{{ search_query }}">
                    <button type="submit" class="search-btn sm-width">Cari Produk</button>
                </form>
            </div>
        </div>
    </section>
    <section class="property-section spad">
        <div class="container">
            <div class="row">
                {% for product in page_obj %}
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item">
                            {% if product.image %}
                                <div class="pi-pic set-bg can-hover" data-setbg="{{ product.image }}">
                                    {% comment %} <div class="label">Available</div> {% endcomment %}
                                </div>
                            {% else %}
                                <div class="pi-pic set-bg can-hover" data-setbg="https://placehold.co/320x320">
                                    {% comment %} <div class="label">Available</div> {% endcomment %}
                                </div>
                            {% endif %}
                            <div class="pi-text">
                                
                                <h5>
                                    <a href="{% url 'product:product_detail' product_slug=product.slug %}">{{ product.title }}</a>
                                </h5>
                                <p>
                                    {{ product.category }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <p>Tidak ada produk yang ditemukan.</p>
                    </div>
                {% endfor %}
                <div class="col-lg-12">
                    <div class="blog-pagination property-pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}"
                               class="icon">
                                <span class="arrow_left"></span>
                            </a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}"
                                   class="active">{{ num }}</a>
                            {% else %}
                                <a href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}"
                               class="icon">
                                <span class="arrow_right"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property Section End -->
{% endblock %}