{% extends "layouts/main.html" %}
{% load static %}
{% block content %}
    <!-- Contact Form Section Begin -->
    <section class="contact-form-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cf-content">
                        <div class="cc-title">
                            <h4>Formulir Kontak</h4>
                            <h5>
                                Kirimkan pesan kepada kami untuk penawaran harga atau pertanyaan apa pun.
                                <br />
                                Anda dapat menggunakan formulir kontak di bawah ini atau mengirim email kepada kami di {{ social_context.email }}
                            </h5>
                        </div>
                        <form action="{% url 'contact_us:contact_us_index' %}" method="post" class="cc-form">
                            {% csrf_token %}
                            <div class="group-input">
                                <input name="name" type="text" placeholder="Nama">
                                <input name="email" type="text" placeholder="Email">
                                <input name="phone" type="text" placeholder="Nomer Telepon">
                            </div>
                            <textarea name="message" placeholder="Pesan"></textarea>
                            <button type="submit" class="site-btn">Kirim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Form Section End -->
{% endblock %}
