{% extends 'layouts/main.html' %}
{% load static %}
{% load filters %}

{% block title %}{{company_profile_context.company_alias}} | Beranda{% endblock %}
{% block meta_desc %}{{global_seo_context.index_meta_desc}}{% endblock %}
{% block meta_key %}{{global_seo_context.index_meta_key}}{% endblock %}

{% block content %}
<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="container">
    <div class="hs-slider owl-carousel">
      {% for carousel_item in carousel_items %}
      <div class="hs-item set-bg" data-setbg="{{ carousel_item.image_1200x630_processed.url }}">
        <div class="row">
          <div class="col-lg-12">
            <div class="hc-inner-text">
              <div class="hc-text">
                <h2>{{ carousel_item.top_text }}</h2>
                <h5>{{ carousel_item.bottom_text }}</h5>
                <a href="{{ carousel_item.link }}" class="hw-btn">{{ carousel_item.link_text }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Logo Carousel Begin -->
<div class="logo-carousel">
  <div class="container">
    <div class="lc-slider owl-carousel">
      {% for clint_carousel in clint_carousels %}
      <div class="lc-item">
        <div class="lc-item-inner">
          <img src="{{ clint_carousel.image_50x50_processed.url }}" alt="{{ clint_carousel.client_name }}"
            height="75" />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Logo Carousel End -->

<!-- Property Section Begin -->
<section class="property-section latest-property-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title">
          <h4>Produk Terbaru</h4>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="property-controls">
          <ul>
            {% comment %} <li data-filter="all">All</li> {% endcomment %}
            {% for category in featured_categories %}
            <li data-filter=".category-{{ category.id }}">{{ category.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row property-filter">
        {# Produk per kategori #}
        {% for category in featured_categories %}
        {% for product in featured_products|get_item:category.id %}
        <div class="col-lg-4 col-md-6 mix category-{{ category.id }}">
          <div class="property-item">
            {% if product.images.all %}
            <div class="pi-pic set-bg can-hover" data-setbg="{{ product.images.first.image_320x240_processed.url }}">
              {% else %}
              <div class="pi-pic set-bg can-hover" data-setbg="https://placehold.co/320x240">
                {% endif %}
              </div>
              <div class="pi-text">
                <h5><a href="{% url 'product:product_detail' product_slug=product.slug %}" target="_blank">{{ product.title }}</a></h5>
                <p>{{ product.product_category.name }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endfor %}

        </div>
    </div>

    {% comment %} <a href="" class="hw-btn">oi</a> {% endcomment %}
    <a href="{% url 'product:product_index' %}" class="hw-button2">Lihat Semua Produk</a>

  </div>
</section>
<!-- Property Section End -->

    <!-- Categories Section Begin -->
  <section class="property-section latest-property-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="section-title">
              <h4>Ketebalan Karton</h4>
            </div>
          </div>
        </div>
  
      </div>
    </section>
    <div class="container-fluid mb-5">
      <div class="row text-center justify-content-center">
        {% for item in corrugated_thickness %}
        <div class="col-6 col-lg-2 mb-4">
          <img src="{{ item.image_600x400_processed.url }}" class="img-fluid can-hover" alt="{{ item.title }}">
          <p class="mt-2">{{ item.title }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  <!-- Categories Section End -->

    <!-- About Section Begin -->
    <section class="about-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="section-title">
              <h4>Tentang Kami</h4>
            </div>
          </div>


        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="about-text">
              <div class="at-title">
                <h3>{{ about.main_text }}</h3>
                <p>{{ about.small_text }}</p>
              </div>
              <div class="at-feature">
                <div class="af-item">
                  <div class="af-icon">
                    <img src="{{ about.text_icon_35x35_1_processed.url }}" alt="" />
                  </div>
                  <div class="af-text">
                    <h6>{{ about.text_1 }}</h6>
                    <p>{{ about.text_small_1 }}</p>
                  </div>
                </div>
                <div class="af-item">
                  <div class="af-icon">
                    <img src="{{ about.text_icon_35x35_2_processed.url }}" alt="" />
                  </div>
                  <div class="af-text">
                    <h6>{{ about.text_2 }}</h6>
                    <p>{{ about.text_small_2 }}</p>
                  </div>
                </div>
                <div class="af-item">
                  <div class="af-icon">
                    <img src="{{ about.text_icon_35x35_3_processed.url }}" alt="" />
                  </div>
                  <div class="af-text">
                    <h6>{{ about.text_3 }}</h6>
                    <p>{{ about.text_small_3 }}</p>
                  </div>
                </div>
                <div class="af-item">
                  <div class="af-icon">
                    <img src="{{ about.text_icon_35x35_4_processed.url }}" alt="" />
                  </div>
                  <div class="af-text">
                    <h6>{{ about.text_4 }}</h6>
                    <p>{{ about.text_small_4 }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-pic set-bg" data-setbg="{{ about.video_background_555x423_processed.url }}">
              <a href="{{ about.video_url }}" class="play-btn video-popup"><i class="fa fa-play-circle"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

<!-- Chooseus Section Begin -->
<section class="chooseus-section spad set-bg mb-5" data-setbg="{% static 'img/chooseus/chooseus-bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="chooseus-text">
          <div class="section-title">
            <h4>Pelayanan Kami</h4>
          </div>
        </div>
        <div class="chooseus-features">
          {% for our_service in our_services %}
          <div class="cf-item">
            <div class="cf-pic">
              <img src="{{ our_service.image_50x50_processed.url }}" alt="" width="50" height="50" />
            </div>
            <div class="cf-text">
              <h5>{{ our_service.title }}s</h5>
              <p>{{ our_service.description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Chooseus Section End -->

  <!-- FAQ Section Begin -->
  <section class="about-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h4>Pertanyaan yang Sering Diajukan</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div id="faqAccordion" class="accordion shadow">
            {% for faq in faqs %}
            <div class="card faq-card">
              <div id="heading{{ forloop.counter }}" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold">
                  <a href="#" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" 
                     aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" 
                     aria-controls="collapse{{ forloop.counter }}" 
                     class="d-block position-relative text-dark text-uppercase collapsible-link py-2">
                    {{ faq.question }}
                  </a>
                </h6>
              </div>
              <div id="collapse{{ forloop.counter }}" 
                   aria-labelledby="heading{{ forloop.counter }}" 
                   data-parent="#faqAccordion" 
                   class="collapse">
                <div class="card-body p-5">
                  <p class="font-weight-light m-0">{{ faq.answer|linebreaks }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQ Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h4>Pendapat Klien Kami</h4>
        </div>
      </div>
    </div>
    <div class="row testimonial-slider owl-carousel">
      {% for testimonial in testimonials %}
      <div class="col-lg-6">
        <div class="testimonial-item">
          <div class="ti-text">
            <p>{{ testimonial.client_description }}</p>
          </div>
          <div class="ti-author">
            <div class="ta-pic">
              <img src="{{ testimonial.client_image_100x100_processed.url }}" alt="{{ testimonial.client_name }}" />
            </div>
            <div class="ta-text">
              <h5>{{ testimonial.client_name }}</h5>
              <span>{{ testimonial.client_role }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Testimonial Section End -->



{% endblock %}
{% block scripts %}
<!-- Additional scripts specific to home page -->
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
