{% extends "layouts/main.html" %}
{% load static %}
{% block content %}
    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-item-list">
                        {% for blog in page_obj %}
                            <div class="blog-item">
                                <div class="bi-pic">
                                    <img src="{{ blog.image_processed.url }}" alt="{{ blog.title }}">
                                </div>
                                <div class="bi-text">
                                    <h4>
                                        <a href="{% url 'blog:blog_detail' slug=blog.slug %}">{{ blog.title }}</a>
                                    </h4>
                                    <ul>
                                        <li>
                                            by <span>{{ blog.author }}</span>
                                        </li>
                                        <li>{{ blog.created_at|date:"M d, Y" }}</li>
                                    </ul>
                                    <p>{{ blog.content|truncatewords:30 }}</p>
                                    <a href="{% url 'blog:blog_detail' slug=blog.slug %}" class="read-more">Read more <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% comment %} <div class="blog-pagination property-pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="icon"><span class="arrow_right"></span></a>
                        <a href="#" class="icon"><span class="arrow_left"></span></a>
                    </div> {% endcomment %}
                    <div class="blog-pagination property-pagination">
                        {% if page_obj.has_previous %}
                            <a href="{% if current_category %}{% url 'blog:blog_index' current_category %}{% else %}{% url 'blog:blog_index' %}{% endif %}?page={{ page_obj.previous_page_number }}"
                               class="icon">
                                <span class="arrow_left"></span>
                            </a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a href="{% if current_category %}{% url 'blog:blog_index' current_category %}{% else %}{% url 'blog:blog_index' %}{% endif %}?page={{ num }}"
                                   class="active">{{ num }}</a>
                            {% else %}
                                <a href="{% if current_category %}{% url 'blog:blog_index' current_category %}{% else %}{% url 'blog:blog_index' %}{% endif %}?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="{% if current_category %}{% url 'blog:blog_index' current_category %}{% else %}{% url 'blog:blog_index' %}{% endif %}?page={{ page_obj.next_page_number }}"
                               class="icon">
                                <span class="arrow_right"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar">
                        <div class="feature-post">
                            <div class="section-title sidebar-title-b">
                                <h6>Blog Kategori</h6>
                            </div>
                            <ul class="list-group list-group-flush">
                                <b>
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </b>
                            </ul>
                        </div>
                        <div class="feature-post">
                            <div class="section-title sidebar-title-b">
                                <h6>Blog Pilihan</h6>
                            </div>
                            <div class="recent-post">
                                <div class="rp-item">
                                    <div class="rp-pic">
                                        <img src="{% static 'img/blog/rp-1.jpg' %}" alt="">
                                    </div>
                                    <div class="rp-text">
                                        <h6>
                                            <a href="#">Vancouver real estate advisurges conference goers...</a>
                                        </h6>
                                        <span>Seb 24, 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <!-- Contact Section Begin -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-info">
                        <div class="ci-item">
                            <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-text">
                                <h5>Address</h5>
                                <p>160 Pennsylvania Ave NW, Washington, Castle, PA 16101-5161</p>
                            </div>
                        </div>
                        <div class="ci-item">
                            <div class="ci-icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <h5>Phone</h5>
                                <ul>
                                    <li>125-711-811</li>
                                    <li>125-668-886</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ci-item">
                            <div class="ci-icon">
                                <i class="fa fa-headphones"></i>
                            </div>
                            <div class="ci-text">
                                <h5>Support</h5>
                                <p>Support.aler@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cs-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd"
                    height="450"
                    style="border:0"
                    allowfullscreen=""></iframe>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}
