{% extends "layouts/main.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block content %}
    <!-- Blog Hero Section Begin -->
    <section class="blog-hero-section set-bg"
             data-setbg="{{ blog.image_1920x640_processed.url }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bh-text">
                        <h4>{{ blog.title }}</h4>
                        <ul>
                            <li>
                                by <span>{{ blog.author }}</span>
                            </li>
                            <li>{{ blog.created_at|date:"M d, Y" }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Hero Section End -->
    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto p-0">
                    <div class="blog-details-content">
                        {% comment %} <div class="rich-text-content">{{ blog.content|richtext }}</div> {% endcomment %}
                        
                        {{blog.content|richtext}}

                        <div class="bc-tags">
                            {% for category in blog.categories.all %}
                                <a href="{% url 'blog:blog_by_category' category_slug=category.slug %}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                        <div class="bc-related-post">
                            {% if previous_blog %}
                                <a href="{% url 'blog:blog_detail' blog_slug=previous_blog.slug %}"
                                   class="previous-post">
                                    <i class="fa fa-angle-left"></i> {{ previous_blog.title|truncatechars:30 }}
                                </a>
                            {% else %}
                                <a class="previous-post"><i></i></a>  {# placeholder jika previous_blog tidak ada #}
                            {% endif %}
                            {% if next_blog %}
                                <a href="{% url 'blog:blog_detail' blog_slug=next_blog.slug %}"
                                   class="next-post">
                                    {{ next_blog.title|truncatechars:30 }} <i class="fa fa-angle-right"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="bc-widget">
                            <h4>Blog Serupa</h4>
                            <div class="related-post">
                                <div class="row">
                                    {% for related_blog in related_blogs %}
                                        <div class="col-md-4 col-sm-6">
                                            <div class="related-item">
                                                <div class="ri-pic">
                                                    <img src="{{ related_blog.image_330x220_processed.url }}"
                                                         alt="{{ related_blog.title }}"
                                                         width="263"
                                                         height="175">
                                                </div>
                                                <div class="ri-text">
                                                    <h6>
                                                        <a class="text-body text-decoration-none"
                                                           href="{% url 'blog:blog_detail' blog_slug=related_blog.slug %}">{{ related_blog.title|truncatechars:50 }}
                                                        </a>
                                                    </h6>
                                                    <span>{{ related_blog.created_at|date:"M d, Y" }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
{% endblock content %}
