{% extends "layouts/main.html" %}
{% load static %}
{% block content %}
    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-item-list">
                        {% for blog in page_obj %}
                            <div class="blog-item">
                                <div class="bi-pic">
                                    <img src="{{ blog.image_330x220_processed.url }}" alt="{{ blog.title }}">
                                </div>
                                <div class="bi-text">
                                    <h4>
                                        <a href="{% url 'blog:blog_detail' blog_slug=blog.slug %}">{{ blog.title }}</a>
                                    </h4>
                                    <ul>
                                        <li>
                                            by <span>{{ blog.author }}</span>
                                        </li>
                                        <li>{{ blog.created_at|date:"M d, Y" }}</li>
                                    </ul>
                                    <div class="rich-text-content">
                                        {{ blog.small_content|safe|truncatewords_html:30 }}
                                    </div>
                                    <a href="{% url 'blog:blog_detail' blog_slug=blog.slug %}" class="read-more">Read more <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% comment %} <div class="blog-pagination property-pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="icon"><span class="arrow_right"></span></a>
                        <a href="#" class="icon"><span class="arrow_left"></span></a>
                    </div> {% endcomment %}
                    <div class="blog-pagination property-pagination">
                        {% if page_obj.has_previous %}
                            <a href="{% if current_category %}{% url 'blog:blog_by_category' category_slug=current_category %}{% else %}{% url 'blog:blog_index' %}{% endif %}?page={{ page_obj.previous_page_number }}"
                               class="icon">
                                <span class="arrow_left"></span>
                            </a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a href="{% if current_category %}{% url 'blog:blog_by_category' category_slug=current_category %}{% else %}{% url 'blog:blog_index' %}{% endif %}?page={{ num }}"
                                   class="active">{{ num }}</a>
                            {% else %}
                                <a href="{% if current_category %}{% url 'blog:blog_by_category' category_slug=current_category %}{% else %}{% url 'blog:blog_index' %}{% endif %}?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="{% if current_category %}{% url 'blog:blog_by_category' category_slug=current_category %}{% else %}{% url 'blog:blog_index' %}{% endif %}?page={{ page_obj.next_page_number }}"
                               class="icon">
                                <span class="arrow_right"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar">
                        <div class="feature-post">
                            <div class="section-title sidebar-title-b">
                                <h6>Blog Kategori</h6>
                            </div>
                            <div class="list-group list-group-flush">
                                {% for category in blog_categories %}
                                {% comment %} <li class="list-group-item list-group-item-action list-group-item-success {% if current_category == category.slug %}active{% endif %}"> {% endcomment %}
                                    <a class="list-group-item list-group-item-action {% if current_category == category.slug %}active list-group-item-success{% endif %}"
                                    href="{% url 'blog:blog_by_category' category_slug=category.slug %}">
                                        {{ category.title }}
                                    </a>
                                {% comment %} </li> {% endcomment %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="feature-post">
                            <div class="section-title sidebar-title-b">
                                <h6>Blog Pilihan</h6>
                            </div>
                            <div class="recent-post">
                                {% for blog in featured_blogs %}
                                <div class="rp-item">
                                    <div class="rp-pic">
                                        <img src="{{ blog.image_105x80_processed.url }}" alt="{{ blog.title }}">
                                    </div>
                                    <div class="rp-text">
                                        <h6>
                                            <a href="{% url 'blog:blog_detail' blog_slug=blog.slug %}">{{ blog.title }}</a>
                                        </h6>
                                        <span>{{ blog.created_at|date:"M d, Y" }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}
