{% load static %}

<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="fs-about">
                    <div class="fs-logo">
                        <a href="#">
                            <img src="{{ company_profile_context.company_logo_138x84.url }}" alt="" width="138" height="84">
                        </a>
                    </div>
                    <p>
                        {{ footer_text_context.footer_text }}
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3"></div>
            <div class="col-lg-3 col-sm-3">
                <div class="fs-widget">
                    <h5>Halaman</h5>
                    <ul>
                        <li>
                            <a href="{% url 'home:home_index' %}">Beranda</a>
                        </li>
                        <li>
                            <a href="{% url 'product:product_index' %}">Produk</a>
                        </li>
                        <li>
                            <a href="{% url 'about_us:about_us_index' %}">Tentang</a>
                        </li>
                        <li>
                            <a href="{% url 'contact_us:contact_us_index' %}">Kontak</a>
                        </li>
                        <li>
                            <a href="{% url 'blog:blog_index' %}">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-text">
        
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | {{ company_profile_context.company_name }}
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            
        </div>
    </div>
</footer>
