{% load static %}

{% with request.resolver_match.url_name as url_name %}

<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <span class="icon_close"></span>
    </div>
    {% comment %} <div class="logo">
        <a href="{% url 'home:home_index' %}">
            <img src="{{ company_profile_context.company_logo_69x42_processed.url }}" alt="{{ company_profile_context.company_alias }}">
        </a>
    </div> {% endcomment %}
    <div id="mobile-menu-wrap"></div>
    <div class="om-widget">
        <ul>
            <li>
                <i class="fa fa-envelope"></i>{{ social_context.email }}
            </li>
            <li>
                <i class="fa fa-whatsapp"></i>
                <a class="no-decoration" href="https://wa.me/{{ social_context.whatsapp }}" target="_blank">{{ social_context.whatsapp }}</a>
            </li>
        </ul>
        {% comment %} <a href="#" class="hw-btn">Submit property</a> {% endcomment %}
    </div>
</div>
<!-- Offcanvas Menu Wrapper End -->
<header class="header-section sticky-header">
    <div class="hs-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="{% url 'home:home_index' %}">
                            <img src="{{ company_profile_context.company_logo_69x42_processed.url }}" alt="" width="69" height="42">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="ht-widget">
                        <ul>
                            <li>
                                <i class="fa fa-envelope"></i>{{ social_context.email }}
                            </li>
                            <li>
                                <i class="fa fa-whatsapp"></i>
                                <a class="no-decoration" href="https://wa.me/{{ social_context.whatsapp }}" target="_blank">{{ social_context.whatsapp }}</a>
                            </li>
                        </ul>
                        {% comment %} <a href="#" class="hw-btn">Submit property</a> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="canvas-open mr-3">
                <span class="icon_menu"></span>
            </div>
        </div>
    </div>
    <div class="hs-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <nav class="nav-menu">
                        <ul>
                            <li class="{% if url_name == 'home_index' %}active{% endif %}">
                                <a href="{% url 'home:home_index' %}">Beranda</a>
                            </li>
                            <li class="{% if url_name == 'product_index' or url_name == 'product_detail' %}active{% endif %}">
                                <a href="{% url 'product:product_index' %}">Produk</a>
                                <ul class="dropdown">
                                    {% for product_category in product_categories %}
                                    <li>
                                        <a href="{% url 'product:product_index' %}?category={{ product_category.id }}">{{ product_category.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="{% if url_name == 'about_us_index' %}active{% endif %}">
                                <a href="{% url 'about_us:about_us_index' %}">Tentang</a>
                            </li>
                            <li class="{% if url_name == 'contact_us_index' %}active{% endif %}">
                                <a href="{% url 'contact_us:contact_us_index' %}">Kontak</a>
                            </li>
                            <li class="{% if url_name == 'blog_index' or url_name == 'blog_detail' or url_name == 'blog_by_category' %}active{% endif %}">
                                <a href="{% url 'blog:blog_index' %}">Blog</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% comment %} <div class="col-lg-3">
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</header>

{% endwith %}

{% comment %} {% if request.resolver_match and request.resolver_match.url_name != 'home_index' and request.resolver_match.url_name != 'blog_detail' %}
    {% include 'components/breadcump.html' %}
{% endif %} {% endcomment %}
