{% load static %}

{% with request.resolver_match.url_name as url_name %}

<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <span class="icon_close"></span>
    </div>
    <div class="logo">
        <a href="./index.html">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="om-widget">
        <ul>
            <li>
                <i class="fa fa-envelope"></i>{{ social_context.email }}
            </li>
            <li>
                <i class="fa fa-whatsapp"></i>{{ social_context.whatsapp }}
            </li>
        </ul>
        <a href="#" class="hw-btn">Submit property</a>
    </div>
    <div class="om-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube-play"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
</div>
<!-- Offcanvas Menu Wrapper End -->
<header class="header-section">
    <div class="hs-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{% static 'img/logo.png' %}" alt="" width="69" height="42">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="ht-widget">
                        <ul>
                            <li>
                                <i class="fa fa-envelope"></i>{{ social_context.email }}
                            </li>
                            <li>
                                <i class="fa fa-whatsapp"></i>{{ social_context.whatsapp }}
                            </li>
                        </ul>
                        <a href="#" class="hw-btn">Submit property</a>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <span class="icon_menu"></span>
            </div>
        </div>
    </div>
    <div class="hs-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <nav class="nav-menu">
                        <ul>
                            <li class="{% if url_name == 'home_index' %}active{% endif %}">
                                <a href="{% url 'home:home_index' %}">Beranda</a>
                            </li>
                            <li class="{% if url_name == 'product_index' or url_name == 'product_detail' %}active{% endif %}">
                                <a href="{% url 'product:product_index' %}">Produk</a>
                                <ul class="dropdown">
                                    {% for product_category in product_categories %}
                                    <li>
                                        {% comment %} <a href="{% url 'product:product_index' product_category.slug %}">{{ product_category.name }}</a> {% endcomment %}
                                        <a href="{% url 'product:product_index'%}">{{ product_category.name }}</a>
                                    </li>
                                    {% endfor %}
                                    {% comment %} <li>
                                        <a href="{% url 'product:product_index' %}">Product List</a>
                                    </li>
                                    <li> {% endcomment %}
                                        {% comment %} <a href="{% url 'product:product_detail' %}">Product Detail</a> {% endcomment %}
                                    {% comment %} </li>
                                    <li>
                                        <a href="./property-comparison.html">Property Comperison</a>
                                    </li>
                                    <li>
                                        <a href="./property-submit.html">Property Submit</a>
                                    </li> {% endcomment %}
                                </ul>
                            </li>
                            <li class="{% if url_name == 'about_us_index' %}active{% endif %}">
                                <a href="{% url 'about_us:about_us_index' %}">Tentang</a>
                            </li>
                            <li class="{% if url_name == 'contact_us_index' %}active{% endif %}">
                                <a href="{% url 'contact_us:contact_us_index' %}">Kontak</a>
                            </li>
                            <li class="{% if url_name == 'blog_index' or url_name == 'blog_detail' or url_name == 'blog_by_category' %}active{% endif %}">
                                <a href="{% url 'blog:blog_index' %}">Blog</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% comment %} <div class="col-lg-3">
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</header>

{% endwith %}

{% if request.resolver_match and request.resolver_match.url_name != 'home_index' and request.resolver_match.url_name != 'blog_detail' %}
    {% include 'components/breadcump.html' %}
{% endif %}
